.container {
  display: flex;
}
.container > span {
  text-align: center;
  width: 1.125rem;
}

.button {
  background-color: dodgerblue;
  color: black;
  width: 2rem;
  font-size: 1rem;
  min-width: auto;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:disabled {
  background-color: silver;
}