.container > h1 {
  text-align: center;
  margin-top: 0;
}

.legend {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.legend > span {
  font-size: 1rem;
}

.yellowBox {
  background-color: yellow;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.card {
  background: white;
  padding: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0.5rem 2.5rem rgb(0 0 0 / 8%);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.card:last-of-type {
  margin-bottom: 2rem;
}
.card > h2 {
  margin-top: 0;
  text-align: center;
}
.card > h2 > span > span {
  color: dodgerblue;
}

.scoreLayout {
  display: flex;
  flex-direction: column;
}

.scoreListItem {
  display: flex;
  justify-content: space-between;
  min-height: 2rem;
  font-size: 1.125rem;
}
.scoreListItem:not(:last-child) {
  margin-bottom: 1rem;
}
.scoreListItem > p {
  margin: 0 0.25rem 0 0;
  overflow-wrap: anywhere;
  width: 100%;
}

.scoreListItemHighlight {
  background-color: yellow;
}

.buttonWrapper > button {
  margin: 0 auto 1rem;
}