.container {
  padding-top: 7rem;
}

.heading {
  text-align: center;
  margin: 0;
  padding-bottom: 3rem;
}

.buttonList > button:first-child {
  margin-bottom: 3rem;
}

.buttonList > button {
  font-size: 1.5rem;
  margin: 0 auto 1rem;
}