.container > h1,
.container > h2 {
  text-align: center;
}

.container > h2 {
  display: flex;
  justify-content: center;
  color: dodgerblue;
}

.container > h2 > span:nth-child(odd) {
  margin: 0 1rem;
  flex-basis: 2rem;
}

.container > h2 > span:nth-child(even) {
  overflow-wrap: anywhere;
}

.scoreTable {
  margin: 1rem;
}

.scoreboardItem,
.scoreboardItemHighlight {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}
.scoreboardItem > div,
.scoreboardItemHighlight > div {
  font-size: 1.25rem;
  font-weight: 500;
}
.scoreboardItem > div:first-child,
.scoreboardItemHighlight > div:first-child {
  flex-basis: 2rem;
}
.scoreboardItem > div:nth-child(2),
.scoreboardItemHighlight > div:nth-child(2) {
  flex-grow: 1;
  padding: 0 0.5rem;
  overflow-wrap: anywhere;
}
.scoreboardItem > div:last-child,
.scoreboardItemHighlight > div:last-child {
  flex-basis: 6.25rem;
  text-align: center;
}

.scoreboardItemHighlight {
  background-color: lightskyblue;
}

.buttonWrapper > button {
  margin: 1.5rem auto 0;
}