.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.inputContainer > label {
  flex-basis: 9.375rem;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 0 2rem;
}

.optionsContainer > h3 {
  margin: 0.75rem 0 0;
  text-align: center;
}

.roundSelectionList {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.roundSelectionList > div > label {
  padding-left: 0.5rem;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
  justify-content: center;
}

.categoriesList > div {
  width: 7rem;
}

.categoriesList > div > label {
  font-weight: 500;
  padding-left: 0.5rem;
}

.buttonWrapper > button {
  margin: 0 auto 1rem;
}