.header {
  display: flex;
  justify-content: space-between;
}

.header > p {
  background-color: dodgerblue;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  color: white;
  margin: 0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.headerContent > h2 > span {
  color: dodgerblue;
}

.inputListItem {
  margin-bottom: 1rem;
}
.inputListItem > input[type=text] {
  font-size: 1.5rem;
}

.buttonWrapper > button,
.buttonWrapper > p {
  margin: 0 auto 1rem;
}

.buttonWrapper > p {
  width: fit-content;
}