.userCard {
  position: relative;
  max-width: 7rem;
  min-width: 3rem;
  text-align: center;
  margin: auto;
}
.userCard > span {
  position: absolute;
  top: 0;
  right: 0;
}

.emoji {
  height: 6rem;
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
}

.score {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem !important;
}

.userCard > p {
  margin: 0;
  overflow-wrap: break-word;
  font-size: 2rem;
}

.leaderIndicator {
  position: absolute;
  left: -0.5rem;
  bottom: 0.0625rem;
  font-size: 0.8rem;
}