html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Indie Flower', sans-serif;
}

#__next,
body {
  padding: 0;
  margin: 0;
  min-height: inherit;
}

body {
  height: inherit;
  width: 100vw;
}

button {
  background-color: dodgerblue;
  color: white;
  outline: none;
  appearance: none;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 1rem;
  min-width: 14rem;
  font-size: 1.5rem;
}
button[disabled] {
  background-color: silver;
}
@media (hover: hover) {
  button:hover {
    background-color: rgba(30, 144, 255, 0.8);
  }
}


input[type=text] {
  flex-grow: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2rem;
  width: 100%;
  padding: 1.25rem 1rem;
  border: 1px solid;
}
